html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.mb60 {
  margin-bottom: 60px;
}

.mt52 {
  margin-top: 52px;
}

.en_text {
  font-family: SF Pro Text;
}

.ch_text {
  font-family: PingFang TC;
}

.text_large {
  font-size: 40px;
  line-height: 60px;
}

.text_medium {
  font-size: 24px;
  line-height: 36px;
}

.text_normal {
  font-size: 20px;
  line-height: 30px;
}

.text_white {
  color: #fff;
}

.weight_bold {
  font-weight: bold;
}

.weight_normal {
  font-weight: normal;
}

.weight_lighter {
  font-weight: lighter;
}

.fx_d_rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.discount {
  text-decoration: line-through;
  color: #8D8D8D;
}

.product_nav {
  background-color: #916000;
  margin-top: 70px;
  height: 52px;
  color: #fff;
}
.product_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.product_nav ul li {
  padding-right: 28px;
}
.product_nav ul li a {
  text-decoration: none;
  color: #fff;
}

.product_page {
  padding-bottom: 60px;
}

.product_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
}
.product_content .perfume_card {
  width: 25%;
  max-width: 255px;
  padding-bottom: 58px;
}
.product_content .perfume_card a {
  text-decoration: none;
  color: #916000;
}
.product_content .perfume_card em {
  text-decoration: line-through;
  color: #8d8d8d;
  padding-left: 8px;
}

.product_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.product_btns li {
  padding: 0 5px;
}
.product_btns li a:hover {
  text-decoration: underline;
  color: #916000;
}
.product_btns a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 5px;
}

@media (max-width: 992px) {
  .product_nav {
    display: none;
  }

  .product_page {
    padding-bottom: 40px;
  }

  .product_content .perfume_card {
    width: 50%;
    max-width: 45vw;
    padding-bottom: 30px;
  }
}
.m_auto {
  height: 60px;
  width: calc(100vw-9px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fff;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu li {
  padding: 5px;
}
.header .menu em {
  display: none;
}
.header .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #8d8d8d;
}
.header .bar_img {
  display: none;
}

@media (max-width: 992px) {
  .header .menu span {
    display: none;
  }

  .header .menu img {
    display: block;
    position: relative;
  }

  .header .bar_img {
    display: block;
  }

  .header .menu em {
    width: 18px;
    height: 18px;
    text-align: center;
    display: block;
    position: absolute;
    top: 10px;
    right: 70px;
    background: #916000;
    color: #fff;
    border-radius: 11px;
    line-height: 20px;
  }

  .m-none {
    display: none;
  }
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh);
  background: url(../img/index1.jpg) center center;
  background-size: cover;
}

.banner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner_content {
  max-width: 445px;
}

.banner_btn {
  border: 2px solid #fff;
  border-radius: 30px;
  line-height: 60px;
  text-align: center;
  max-width: 360px;
}
.banner_btn a {
  display: block;
  text-decoration: none;
}

.topProduct_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topProduct_row .topProduct_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 992px) {
  .topProduct .topProduct_img {
    width: 100%;
  }
  .topProduct .topProduct_img img {
    width: 100%;
  }

  .topProduct .topProduct_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .topProduct .topProduct_row .topProduct_row img {
    width: 100%;
  }

  .topProduct .topProduct_content {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 32px;
  }
}
.topProduct_content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 8%;
}
.topProduct_content a {
  text-decoration: none;
  color: #916000;
}

.topProduct .topProduct_row .topProduct_longContent {
  width: 50%;
  padding: 0;
}

.topProduct_img {
  width: 50%;
}

.topProduct_rowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.topProduct_content .plan_btn {
  border: 2px solid #000;
  border-radius: 30px;
  text-align: center;
  padding: 12px 0;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction .introduction_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
}
.introduction .introduction_text {
  width: 555px;
  padding: 0 110px;
}
.introduction .introduction_text a {
  text-decoration: none;
  color: #916000;
}
.introduction .introduction_img {
  width: 555px;
  height: 555px;
}
.introduction .introduction_img img {
  max-height: 100%;
  width: 555px;
  height: 555px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

.introduction_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
}
.introduction_plan img {
  width: 555px;
  height: 1080px;
}
.introduction_plan .plan_text {
  width: 555px;
  padding: 92px 110px;
  padding-bottom: 92px;
}
.introduction_plan .plan_btn {
  border: 2px solid #000;
  border-radius: 30px;
  text-align: center;
  padding: 12px 0;
}

.others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  background-color: #e0e0e0;
}
.others .others_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.others .others_card {
  width: 32%;
}
.others .others_card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.others .others_card .sold_out {
  position: relative;
}
.others .others_card .sold_out img {
  opacity: 0.3;
}
.others .others_card .sold_out .sold_out_cover {
  position: absolute;
  right: 125px;
  top: 257px;
  color: #fff;
}

@media (max-width: 992px) {
  .others .others_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .others .others_content .others_card {
    width: 100%;
    padding-bottom: 30px;
  }
  .others .others_content .others_card img {
    width: 100%;
  }
}
.recycle {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}
.recycle .text_brown {
  color: #916000;
}
.recycle .recycle_img {
  width: 60%;
}
.recycle .recycle_text {
  width: 36%;
}

@media (max-width: 992px) {
  .recycle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recycle .recycle_img {
    width: 100%;
  }
  .recycle .recycle_img img {
    width: 100%;
  }
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(50vh);
  background: url(../img/index10.jpg) center center;
  background-size: cover;
  color: #8d8d8d;
  position: relative;
}
.info .info_content {
  position: absolute;
  left: 18%;
}
.info .info_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  height: 60px;
  max-width: 350px;
}
.info .info_email input {
  display: block;
  width: 60%;
  border: 2px solid #916000;
  border-radius: 4px 0 0 4px;
  text-align: center;
  color: #8d8d8d;
}
.info .info_email button {
  background-color: #916000;
  width: 40%;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0;
}
.info .info_email button a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
  background-color: #916000;
  color: #fff;
}
.footer .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
}
.footer .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer_nav h4 {
  padding-left: 36px;
}
.footer .footer_nav a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 992px) {
  .footer .m-none {
    display: none;
  }

  .footer .footer_logo {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}